<div class="login-container">
  <form class="login-box" (ngSubmit)="login()">
    <h2 class="login-title">Login</h2>

    <input [(ngModel)]="username" name="username" placeholder="Usuário" required />
    <input [(ngModel)]="password" name="password" type="password" placeholder="Senha" required />

    <button type="submit" [disabled]="loading">
      <span *ngIf="!loading">Entrar</span>
      <span *ngIf="loading" class="spinner"></span>
    </button>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
